#root {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  background-color: #007f82  ; /* Set your desired background color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.root-container {
  min-width: 400px;
  max-width: 600px; 
  text-align: center;
  background-color: #c2bfc2;
  border: 2px solid white; /* Add a border around the window */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.app {
  max-width:500px;
  margin: 50 auto;
  padding: 0;
  align-self: flex-end;
  text-align: center;
  background-color: grey;
}

.card {
  padding: 2em;
}
